body {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "ROND" 0;
    background-color: #F6F0D7;
}



.image-main {
    width: 100%;
    max-width: 500px;
}

.heading {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
    padding: 2rem;
}

.heading-image {
    display: grid;
    grid-template: minmax(auto, 500px);
    max-width: 500px;
    justify-content: center;
    margin: auto;
    box-shadow: 11px 12px 28px -9px rgba(0,0,0,0.75);
-webkit-box-shadow: 11px 12px 28px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 12px 28px -9px rgba(0,0,0,0.75);
}

.info-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-image>span {
    grid-row: 1 / 2;
    grid-column: 1;
    display: flex;
    align-items: end;
    justify-content: center;
    color: white;
    font-size: 3rem;
}

.heading-image>img {
    grid-row: 1 / 2;
    grid-column: 1;
}

.text-heading {
    min-width: 300px;
    width: 70%;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.text-heading>h1 {
    text-align: center;
}

.svg-logos {
    display: flex;
    justify-content: right;
}

.svg-logos>button {
    margin-left: 1rem;
    margin-right: 1rem;
    background: none;
    border: none;
}

.svg-logos > button:hover {
    cursor: pointer;
}

.work-presentation {
    padding: 2rem;
}

.work {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    padding-bottom: 4rem;
}

.works {
    border: 2px solid black;
    box-shadow: 11px 12px 15px -9px rgba(0,0,0,0.75);
-webkit-box-shadow: 11px 12px 15px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 12px 15px -9px rgba(0,0,0,0.75);
    border-radius: 1rem;
    background-color: #9CAB84;
}

.works>.image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    height: 15rem;
    background-color: #C5D89D;
    border-radius: 1rem;
}

.works>h3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.works>p {
    padding-left: 1rem;
    padding-right: 1rem;
}

.contact {
    display: flex;
    justify-content: center;
    border-top: 2px solid black;
    width: auto;
    margin-top: 4rem;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius: 1rem;
    background-color: #89986D;
}

.contact>.image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact>.data>.image-main {
    max-width: 1200px;
    width: 90%;
    height: auto;
    box-shadow: 11px 12px 15px -9px rgba(0,0,0,0.75);
-webkit-box-shadow: 11px 12px 15px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 12px 15px -9px rgba(0,0,0,0.75);
}

.contact>.data {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

@media (min-width: 1000px) {
    .heading {
        flex-direction: row;
        align-items: center;
        
    }

    .text-heading {
        margin: 1rem;
    }

    .info-heading {
        border: 2px solid black;
        padding: 1 rem;
        margin: 0;
        width: 60%;
        box-shadow: 11px 12px 28px -9px rgba(0,0,0,0.75);
-webkit-box-shadow: 11px 12px 28px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 12px 28px -9px rgba(0,0,0,0.75);
        background-color: white;
    }

    .image-main {
        height: auto;
    }

    .heading-image {
        margin: 0;
    }

    .contact>.data {
        flex-direction: row-reverse;
        justify-content: center;
    }

    .data>.image {
        width: 50%;
    }

    .informations {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        text-align: left;
    }
}