body {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.image-main {
    width: 100%;
    max-width: 500px;
}

.heading {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
    padding: 2rem;
}

.heading-image {
    display: grid;
    grid-template: minmax(auto, 500px);
    max-width: 500px;
    justify-content: center;
    margin: auto;
}

.info-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-image > span{
    grid-row: 1 / 2;
    grid-column: 1;
    display: flex;
    align-items: end;
    justify-content: center;
    color: white;
    font-size: 3rem;
}

.heading-image > img {
    grid-row: 1 / 2;
    grid-column: 1;
}

.text-heading {
    min-width: 300px;
    width: 70%;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.text-heading > h1 {
    text-align: center;
}

.svg-logos {
    display: flex;
    justify-content: right;
}
.svg-logos > button {
    margin-left: 1rem;
    margin-right: 1rem;
}

.work-presentation {
    padding: 2rem;
}

.work {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    padding-bottom: 4rem;
}

.works {
    border: 2px solid black;
}

.works > .image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    height: 15rem;
}

.works > h3{
    padding-left: 1rem;
    padding-right: 1rem;
}

.works > p {
    padding-left: 1rem;
    padding-right: 1rem;
}

.contact {
    display: flex;
    justify-content: center;
    border-top: 2px solid black;
    width: auto;
    margin-top: 4rem;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;    
}

.contact > .image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact > .data > .image-main {
    max-width: 1000px;
    width: 90%;
    height: auto;
}

.contact > .data {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

@media (min-width: 1000px) {
    .heading {
        flex-direction: row;
        align-items: center;
    }
    .text-heading {
        margin: 1rem;
    }
    .info-heading {
        border: 2px solid black;
        padding: 1 rem;
        margin: 0;
        width: 50%;
    }
    .image-main {
        height: auto;
    }

    .heading-image {
        margin: 0;
    }
    .contact > .data {
        flex-direction:row-reverse;
        justify-content: center;
    }

    .data > .image {
        width: 50%;
    }
    .informations {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        text-align: left;
    }
}